.DS_Store
node_modules
.next
out
dist
coverage
docs/*
.env*.local
.vercel
.next-dev.log
.next-dev.pid
.next-start.log
.next-start.pid

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
